<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">

    <conversionRule conversionWord="tid" converterClass="org.ameba.logging.ThreadIdProvider" />

    <variable scope="context" name="mdcPattern" value="%replace(;%X{MSGKEY};%X{MSGDATA}){';+( |$)', ''}" />

    <property name="LOG_TEMP" value="/tmp/owms" />
    <property name="MODULE_NAME" value="CORE" />
    <property name="SERVICE_NAME" value="SR" />

    <include resource="logback-appenders.xml" />
    <include resource="logback-loggers.xml" />

    <logger name="com.github.dozermapper" level="ERROR" />
    <logger name="org.hibernate.SQL" level="OFF" />
    <logger name="org.hibernate.type" level="OFF" />
    <logger name="com.netflix.discovery" level="OFF" />
    <logger name="org.springframework.security" level="WARN" />

    <logger name="org.openwms" level="DEBUG" />
    <logger name="CORE_INTEGRATION_MESSAGING" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>